<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- Get the fontawesome icons -->
        <link rel="stylesheet" href="/css/fontawesome/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.css" rel="stylesheet" />
        <script defer src="/js/fontawesome/fontawesome.min.js"></script>
        <!-- Load Script -->
        <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.5.141/build/pdf.min.js"></script>
        <!-- Add the PrismJS core script file -->
        <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
        <!-- Add the PrismJS autoloader script file -->
        <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>

        <script defer type="module" src="/js/index.js"></script>

        <title>Self Hosted Cloud</title>
    </head>
    <body>
        <!-- Header Bar -->
        <div id="header" class="header-bar">
            <i id="menu-btn" class="menu-btn fas fa-bars fa-2x"></i>
            <i id="back-btn" class="back-btn hidden fas fa-angle-left fa-2x" aria-hidden="true"></i>
            <div id="directory-wrapper">
                <h4 id="curr-dir"></h4>
            </div>
            <i id="user-btn" class="user-btn fa-regular fa-circle-user fa-2x" aria-hidden="true"></i>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar unselectable">
            <div id="sidebar-content" class="sidebar-content">
                <div id="favourites-container" class="sidebar-container">
                    <div id="favourites-header" class="sidebar-header inline">
                        <h3>Favourites</h2>
                        <!-- <i id="favourites-btn" class="fas fa-star"></i> -->
                    </div>
                    <ul id="favourites-list" class="sidebar-list"></ul>
                </div>
                <div id="system-details-container" class="sidebar-container">
                    <div id="system-details-header" class="sidebar-header inline">
                        <h3>System Details</h2>
                        <!-- <i id="system-details-btn" class="fas fa-chart-simple fa-2x"></i> -->
                    </div>
                    <ul id="system-details-list" class="sidebar-list">
                        <li id="system-status" class="sidebar-item">Status: Online</li>
                        <li id="system-uptime" class="sidebar-item">Uptime: </li>
                    </ul>
                    <p id="system-total-storage" class="sidebar-item"></p>
                    <div class="progress-bar">
                        <div id="progress-bar-fill" class="progress-bar-fill"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main static page elements here -->
        <!-- File Explorer: Displays the files grid/list -->
        <main id="file-explorer" class="center">
            <div id="search-sort-bar">
                <input id="search-input" type="text" class="" placeholder="Search Drive...">
                <i id="sort-btn" class="sort-asc fa-solid fa-arrow-down-wide-short fa-2x"></i>
            </div>
            <div id="drop-zone" class="center">
                <div id="grid" class="grid-container unselectable"></div>
            </div>
            <p id="last-updated" class="center unselectable">Last Updated:</p>
        </main>

        <!-- Fiole Viewer: Displays contents of a given file on page -->
        <div id="file-viewer" class="hidden">
            <div id="file-viewer-header">
                <!-- Inside your file-viewer or another suitable container -->
                <div id="page-indicator" class="page-indicator">
                    Page <span id="current-page">1</span> of <span id="total-pages">1</span>
                </div>
                <div id="file-viewer-actions">
                    <button id="file-viewer-info" class="fas fa-circle-info"></button>
                    <button id="file-viewer-download-btn" class="btn-blue">Download</button>
                </div>
            </div>
            <div id="file-viewer-content"></div>
        </div>

        <button id="upload-btn" class="upload-btn fas fa-cloud-arrow-up fa-3x"></button>

        <!-- Move file container: Displays filesystem in popup as list -->
        <div id="move-file-container" class="popup unselectable hidden">
            <i id="move-back-btn" class="back-btn fas fa-angle-left" aria-hidden="true"></i>
            <ul id="move-list"></ul>
            <div id="move-file-action-btns">
                <button id="move-cancel-btn" class="btn-default">Cancel</button>
                <button id="move-btn" class="btn-blue">Move</button>
            </div>
        </div>

        <!-- (Initially) Hidden Components -->
        <!-- Context menu (hidden on page load) -->
        <ul id="context-menu" class="hidden unselectable">
            <li id="file-info" class="context-menu-item first">File info</li>
            <li id="favourite-file" class="context-menu-item">Favourite</li>
            <li id="download-file" class="context-menu-item">Download</li>
            <li id="rename-file" class="context-menu-item">Rename</li>
            <li id="move-file" class="context-menu-item">Move</li>
            <li id="delete-file" class="context-menu-item last">Delete</li>
        </ul>

        <!-- File info (hidden on page load) -->
        <ul id="file-info-modal" class="popup hidden">
            <li id="file-info-name" class="file-info-title"></li>
            <li id="file-info-path" class="file-info-item"></li>
            <li id="file-info-size" class="file-info-item"></li>
            <li id="file-info-type" class="file-info-item"></li>
            <li id="file-info-date" class="file-info-item"></li>
            <li id="file-info-modified" class="file-info-item"></li>
            <li id="file-info-upload-date" class="file-info-item"></li>
            <li id="file-info-favourited" class="file-info-item"></li>
        </ul>

        <!-- Rename file input field (hidden on page load) -->
        <input type="text" class="hidden edit-input" id="edit-filename" value="">

        <div id="delete-confirm" class="popup unselectable hidden">
            <h4>Are you sure you want to delete this file?</h4>
            <p>By pressing "Delete", you will permanently remove this item from your Drive.</p>
            <button id="delete-confirm-btn" class="btn-default btn-delete">Delete</button>
            <button id="delete-cancel-btn" class="btn-default">Cancel</button>
        </div>

        <!-- User panel: Displays User acccount information and preferences -->
        <div id="user-panel" class="popup unselectable hidden">
            <div id="user-panel-content">
                <h3 id="user-panel-username">Account</h3>
                <div id="user-panel-info">
                </div>
                <div id="preferences-container" class="sidebar-container">
                    <h4 class="sidebar-heading">Preferences</h4>
                    <ul id="preferences-list" class="user-panel-info">
                    </ul>
                </div>
                <div id="user-panel-actions">
                    <button id="user-panel-logout" class="btn-default">Sign out</button>
                </div>
            </div>
        </div>
        <!-- Loading spinner -->
        <div id="spinner" class="load-spinner hidden"></div>
        <div id="overlay" class="overlay closed"></div>
    </body>
</html>
