<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/js/login.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <form id="loginForm">
        <h2>Login</h2>
        <div class="input-field">
          <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="input-field">
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="error-message" id="errorMessage"></div>
        <button type="submit">Login</button>
      </form>
      <p id="signup-link">Don't have an account? Sign Up</p>
    </div>
  </body>
</html>
