<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/js/login.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <form id="signupForm">
        <h2>Sign Up</h2>
        <div class="input-field">
          <input type="text" id="username" placeholder="Username">
        </div>
        <div class="input-field">
          <input type="password" id="password" placeholder="Password">
        </div>
        <div class="input-field">
          <input type="text" id="basedir" placeholder="/Users/username/SelfHostedCloudDrive">
        </div>
        <div class="error-message" id="errorMessage"></div>
        <button type="submit">Complete Sign Up</button>
      </form>
    </div>
  </body>
</html>
