* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #1f1f3f;
}

p, h1, h2, h3, h4, h5, h6, li, a, button, input, textarea, select, label {
  padding: 0;
  margin: 0;
}

button {
  /* Remove button styling */
  background: none;
  border: none;
  outline: none;
}

main {
  padding-top: 80px;
}

.btn {
  border-radius: 6px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.form-control {
  border-radius: 6px;
}

.grid-img {
  width: 150px;
  height: 150px;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#search-sort-bar {
  display: flex;
  align-items: center;
  position: relative;
}

#sort-btn {
  position: absolute;
  right: 15px;
  display: flex;
  transform: scale(1);
  color: #1f1f3f;
  transition: transform 0.15s, color 0.15s;
}

#sort-btn:hover {
  cursor: pointer;
  color: #353569;
  transform: scale(1.05);
}

#search-input {
  margin: 0 auto;
  width: 45%;
  height: 30px;
  border-radius: 35px;
  border: 1px solid #b3b3b3;
  padding: 0 10px;
  font-size: 1rem;
  transform: scale(1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  z-index: 999;
  transition: transform 0.35s, box-shadow 0.35s, border 0.35s, width 0.35s;
}


#search-input:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  cursor: pointer;
}

#search-input:focus {
  outline: none;
  border: 1px solid #00B6FF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  width: 75%;
}

#search-input::placeholder {
  color: #8e8e8e;
}

#search-input:not(:focus)::placeholder {
  transform: scale(1);
  transition: transform 0.35s;
}


#curr-dir {
  transform: scale(1);
  max-width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
  text-decoration: none;
  transition: transform 0.2s;
}

#curr-dir:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.menu-btn {
  display: flex;
  margin-left: 15px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s, rotate 0.15s;
}

.menu-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(90%);
}

.menu-btn.open {
  transform: rotate(90deg);
}

.back-btn {
  display: flex;
  margin-left: 20px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.back-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(90%);
}

.user-btn {
  display: flex;
  margin-right: 20px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.user-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(90%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  transform: translateX(-100%);
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-heading {
  padding-bottom: 10px;
  border-bottom: 2px solid #efefef;
  margin-top: 10px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #efefef;
  margin-bottom: 10px;
}

.sidebar-item {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 10px;
  user-select: none;
}

#system-total-storage {
  font-size: 1.1rem;
  font-weight: bold;
  color: #474747;
  margin: 0 auto;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  position: relative;
  border-radius: 5px;
  transform: scale(1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.progress-bar:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.progress-bar-fill {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2196f3;
  border-radius: 5px;
  width: 0%;
}

.fill-danger {
  background-color: #e60000;
}

.text-danger {
  color: #e60000 !important;
}

.fill-warning {
  background-color: #ff9900;
}

.text-warning {
  color: #ff9900 !important;
}

.fav-item {
  color: #1f1f3f;
  filter: brightness(100%);
  transform: scale(1);
  transition: all 0.3s;
}

.fav-item:hover {
  cursor: pointer;
  color: #6a6a7e;
  filter: brightness(105%);
  transform: scale(1.01);
}

.fav-item:hover .fav-text {
  color: #6a6a7e;
}

.pref-item {
  justify-content: space-between;
  color: #1f1f3f;
  filter: brightness(100%);
  transform: scale(1);
  transition: all 0.3s;
}

.pref-item:hover .slider {
  cursor: pointer;
  color: #6a6a7e;
  filter: brightness(105%);
  transform: scale(1.01);
}

.fav-img {
  width: 30px;
  height: 30px;
}

.fav-text {
  margin-left: 15px;
  text-overflow: ellipsis;
  transition : all 0.3s;
}

.upload-btn {
  display: flex;
  float: right;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 70%;
  margin-right: 25px;
  background-color: #00B6FF;
  box-shadow: 1px 0px 1px 0px rgba(0, 0.1, 0, 0.1);
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s, box-shadow 0.14s;
}

.upload-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 0px 2px 0px rgba(0, 0.1, 0, 0.1);
  filter: brightness(90%);
}

#drop-zone {
  display: hidden;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  transition: background-color 0.2s ease-out;
}

#drop-zone.dragover {
  border: 2px dashed #00bfffe4;
  background-color: #00bfff4e;
  cursor: pointer;
}

/* General switch styles */
.switch {
  position: relative;
  /* display: inline-block; */
  width: 30px;
  height: 17px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Customize the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfbfbf;
  transition: 0.35s;
  border-radius: 17px;
}

/* Add a background color to the slider when the input is checked */
.switch input:checked + .slider {
  background-color: #00B6FF;
}

/* Add a circular indicator inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.35s;
  border-radius: 50%;
}

/* Move the circular indicator to the right when the input is checked */
.switch input:checked + .slider:before {
  transform: translateX(13px);
}

#directory-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.grid-filename {
  word-wrap: break-word;
}

.grid-filename:input {
  display: none;
}

.edit-input {
  position: absolute;
  z-index: 1;
  outline: none;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-out;
  user-select: auto;
}

.edit-input:focus {
  border-color: #606baf;
}

@media (min-width: 1500px) {
  .sidebar {
    transform: translateX(0);
  }

  .menu-btn {
    transform: rotate(90deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 25px;
  padding-top: 60px;
}


@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  transform: scale(1);
  filter: brightness(100%);
  justify-content: center;
  text-align: center;
  transition: transform 0.3s, filter 0.3s;
  user-select: none;
  max-width: 150px;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(107%);
}

#empty-drive-message {
  padding: 100px;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: bold;
  color: #c8c8c8;
}

.hidden {
  display: none;
  visibility: hidden;
}

#context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: scale(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.2s ease-out;
}

.context-menu-item {
  text-align: center;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease-out;
  user-select: none;
}

.context-menu-item.first {
  border-radius: 15px 15px 0 0;
}

.context-menu-item.last {
  border-radius: 0 0 15px 15px;
}

.context-menu-item:hover {
  background-color: #00B6FF;
  color: #f7f7f7;
  cursor: pointer;
}

.context-menu-item:hover .context-menu {
  border: 1px solid #00B6FF;
}

#file-info-modal {
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 350px;
  z-index: 1000;
  transition: all 0.2s;
}

#move-file-container {
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 300px;
  max-height: 500px;
  z-index: 1000;
  transition: all 0.15s;
}

.file-info-title {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  align-self: center;
}

.file-info-item {
  margin: 0 auto;
  font-size: 13px;
  padding-bottom: 5px;
  user-select: none;
}

.btn-default {
  background-color: #fffafa;
  color: #b1b1b1;
  padding: 5px 10px;
  border: 2px solid #e4e4e4;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.btn-default:hover {
  border: 2px solid #14b1ef;
  color: #14b1ef;
  transform: scale(1.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.btn-delete {
  background-color: #e60000;
  border: 2px solid #c00000;
  color: white;
}

.btn-delete:hover {
  background-color: #c00000;
  border: 2px solid #a2a2a2;
  color: #b1b1b1;
}

#delete-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 250px;
  z-index: 1000;
  transition: all 0.2s;
}

.popup {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px;
  transform: scale(1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.popup:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#user-panel {
  position: fixed;
  top: 70px;
  right: 10px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  width: 200px;
  z-index: 1000;
  opacity: 0;
  transition: all 0.2s;
  /* transition: opacity 0.2s; */
}

#last-updated {
  padding-top: 300px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #c8c8c8;
  margin: 0 auto;
  text-align: center;
}
