* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding-top: 80px;
}

.btn {
  border-radius: 6px;
}

.form-control {
  border-radius: 6px;
}

.grid-img {
  width: 150px;
  height: 150px;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.btn-default {
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.btn-default:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(0.9);
}

.menu-btn {
  display: flex;
  margin-left: 15px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s, rotate 0.15s;
}

.menu-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(90%);
}

.menu-btn.open {
  transform: rotate(90deg);
}

.back-btn {
  display: flex;
  margin-left: 20px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.back-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(90%);
}

.user-btn {
  display: flex;
  margin-right: 20px;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.user-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(90%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  transform: translateX(-100%);
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding-top: 60px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #b3b3b3;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease-out;
  user-select: none;
}

.sidebar-item.fav-item:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

.fav-img {
  width: 10%;
  height: 10%;
  padding-right: 20px;
}

.upload-btn {
  display: flex;
  float: right;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 70%;
  margin-right: 25px;
  background-color: #00B6FF;
  transform: scale(1);
  filter: brightness(100%);
  transition: transform 0.15s, filter 0.15s;
}

.upload-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(90%);
}

#drop-zone {
  display: hidden;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  transition: background-color 0.2s ease-out;
}

#drop-zone.dragover {
  border: 2px dashed #00bfffe4;
  background-color: #00bfff4e;
  cursor: pointer;
}

#directory-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column .grid-filename {
  font-size: 11px;
}

.grid-filename {
  cursor: pointer;
} */

.grid-filename:input {
  display: none;
}

.edit-input {
  position: absolute;
  z-index: 1;
  outline: none;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-out;
  user-select: auto;
}

.edit-input:focus {
  border-color: #606baf;
}

@media (min-width: 1250px) {
  .sidebar {
    transform: translateX(0);
  }

  .menu-btn {
    transform: rotate(90deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 25px;
  padding-top: 60px;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  transform: scale(1);
  filter: brightness(100%);
  justify-content: center;
  text-align: center;
  transition: transform 0.2s, filter 0.2s;
  user-select: none;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(90%);
}

.hidden {
  display: none;
}

#context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease-out;
}

.context-menu-item {
  padding: 10px 20px;
  transition: background-color 0.3s ease-out;
  user-select: none;
}

.context-menu-item:hover {
  background-color: #0080ff;
  cursor: pointer;
}

#file-info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  width: fit-content;
  padding: 15px;
  z-index: 1000;
  transition: all 0.2s ease-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0.1, 0, 0.1);
}

.file-info-title {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  align-self: center;
}

.file-info-item {
  padding-bottom: 5px;
  user-select: none;
}
